@font-face {
    font-family: "Header-font";
    src: url("ButterCookie-Regular.otf");
}
body
{
    margin: 15px;;
    background-color: rgb(214, 223, 234);
}
/* Start header */
div.jumbotron-fluid
{
    background-color: rgb(128, 156, 241);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 20px;
}
div.jumbotron-fluid h1
{
    font-family: "Header-font";
    font-size: 55px;
    color: rgb(214, 223, 234);
    text-shadow: 5px 4px rgb(2, 15, 88);
}
.leadper
{
    color: rgb(2, 15, 88);
    text-shadow: 1px 0px rgb(214, 223, 234);
    font-size: 25px;
    font-weight: bolder;
}
.lead
{margin-top: 2cap;}
.lead a
{
    color: rgb(2, 15, 88);
    text-shadow: 1px 0px rgb(214, 223, 234);
    border: 1px solid rgb(2, 15, 88) ;
    padding: 13px;
    border-radius: 15px 5px 15px 5px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    background-color: rgb(214, 223, 234);
    
}
.lead a:hover
{
    color:rgb(214, 223, 234) ;
    background-color:rgb(2, 15, 88) ;
    text-shadow: 5px 5px rgb(2, 15, 88);
   border-radius: 5px 15px 5px 15px;
}
/* End header */
@font-face {
    font-family: "body-font";
    src: url("Bohabey Font by 7Ntypes.otf");
}
h2
{
    font-family: "body-font";
    font-size: 37px;
    text-decoration:underline ;
    color: rgb(2, 15, 88) ;
    font-size: 4cap;
    text-align: center;
}
ol
{
    font-size: 20px;
    list-style: none;
    padding: 10px;
    text-align: center;
}
ol li a
{
    color: rgb(2, 15, 88);
    text-shadow: 1px 0px rgb(128, 156, 241);
    line-height: 2.5cap;
}
ol li a:hover
{
    text-decoration:underline ;
    text-decoration-style: wavy;
    color: black;
  font-weight: bolder ;
}